---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Badge from "../components/Badge.astro";
import SocialPill from "../components/SocialPill.astro";
import Experience from "../components/Experience.astro";

import LinkedInIcon from "../icons/LinkedIn.astro";
import GithubIcon from "../icons/Github.astro";
import MailIcon from "../icons/Mail.astro";
import BriefcaseIcon from "../icons/Briefcase.astro";
import CodeIcon from "../icons/Code.astro";
import Proyects from "../components/Proyects.astro";
---

<Layout
  title="Portafolio de 0s1n - Desarrolador y Programador Web"
  description="Contrata a 0s1n para crear tu aplicación web o móvil. Desarrolador Web y Creador de Contenido. Especializado en crear aplicaciones únicas"
>
  <main class="px-4">
    <SectionContainer class="py-44 pb-32">
      <img
        class="rounded-full size-12 mb-4"
        src="https://0s1n.tech/assets/logo-dfe1871c.svg"
        alt="0s1n photo"
      />
      <h1
        class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hey, soy 0s1n <div class="flex justify-center items-center">
          <a
            href="https://www.linkedin.com/in/juan-rosero-32977a223"
            target="_blank"
            rel="noopener"
            class="flex justify-center items-center"
          >
            <Badge>Disponible para trabajar</Badge>
          </a>
        </div>
      </h1>

      <h2 class="text-xl lg:text-2xl text-wrap max-w-3xl">
        <span>+1 año de experiencia.</span>
        <span class="text-yellow-200/90">Desarrolador Web.</span>
        <span class="text-red-200/90"> De Quito, Ecuador.</span>
        <span class="opacity-75">
          Expecializado en crear aplicaciones únicas</span
        >
      </h2>

      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialPill href="https://www.linkedin.com/in/juan-rosero">
          <LinkedInIcon class="size-4 md:size-6" />
           LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/0s1n">
          <GithubIcon class="size-4 md:size-6" />
           Github
        </SocialPill>
        <SocialPill href="mailto:jpablo_166@hotmail.com">
          <MailIcon class="size-4 md:size-6" />
           jpablo_166@hotmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-2 items-center">
        <BriefcaseIcon class="size-7" />
         Experiencia Laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-2 items-center">
        <CodeIcon class="size-7" />
         Proyectos
      </h2>
      <Proyects />
    </SectionContainer>
  </main>
</Layout>
